@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Bright';
	src: local('MyFont'), url(/fonts/bright/Bright\ DEMO.otf) format('woff');
}
@font-face {
	font-family: 'Sacred Valley';
	src: local('MyFont'), url(/fonts/sacred_valley/Sacred\ Valley.ttf) format('woff');
}
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: #E6B968;
}

::selection {
  color: rgb(255, 255, 255);
  background: #E6B968;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: auto;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  /* font-family: 'Playfair Display'; */
  box-sizing: 0;
  animation: fadeIn .8s ease-out;
}
@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

::-webkit-scrollbar {
  width: 0px;
}
.about{
  width: 100%;
  height: auto;
  padding-bottom: 20%;
}
.about-holder{
  margin: auto;
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  width: 100%;
}
.plantimages{
  position: relative;
}
.pp1{
  width: 70%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.pp2{
  width: 70%;
}
.about-text{
  color: black;
  width: 40%;
}
.about-text h1{
  font-family: 'Sacred Valley';
  text-align: left;
  color: #000000;
  font-size: 2.8em;
  letter-spacing: .1em;
  font-weight: 1000;
}
.about-text p{
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 200;
}
body{
  height: auto;
  background: #fff9fc;
  /* background: #FFFBF1; */
}
.login_page{
  width: 100%;
  height: 100vh;
  background: #fff9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.login_page h1{
  font-family: 'Sacred Valley';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;

  color: #555555;
}
.signin_button{
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 15px 40px;
  background-color: #E6B968;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 4%;
}
.signin_button:hover{
  transform: scale(1.025,1.025);
}
.signin_button svg{
  margin-right: 5px;
}
.login_page h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  color: #ADADAD;
}
.hero-button{
  position: relative;
  background: #e6ba6800;
  border: 1.5px solid #E6B968;
  border-radius: 100px;
  /* box-shadow: #997e4dc9 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #E6B968;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
  width: fit-content;
  word-break: break-word;
  animation: fadeIn2 1s ease-out forwards;
  animation-delay: .8s;
  transition: .08s cubic-bezier(0.1, 0.2, 0.3, 0.2);
  margin: 10px;
  z-index: 4;
}
.hero-button:hover{
  border: 3px solid #E6B968;
  padding: 12px 24px;
}
.underline{
  padding-left: 8px;
  text-decoration: underline;
}

.image{
  position: relative;
  height: 100vh;
}
.content{
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* height: 100vh; */
  max-width: 100vw;
}

/* Edited CSS */
#products{
  overflow-x: visible;
}
.upgradedNav{
  z-index: 10;
  position: fixed;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .25%;
  padding-bottom: .25%;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(13, 13, 143, 0.423);
}
section.one{
  width: 100%;
  height: auto;
}
section.two{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  margin-top: 3%;
  width: 80vw;
  height: auto;
  margin-bottom: 6%;
  /* margin-left: 20%; */
}
.container1{
  padding-top: 110px;
  transition: .2s cubic-bezier(0.1, 0.2, 0.3, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}
.bg img{
  z-index: -10;
}
.bg-holder{
  overflow: hidden;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-holder img{
  filter: saturate(.9);
  
  height: 138vh;
}
.hero-text{
  z-index: 10;
  padding: 20px;
  padding-bottom: 0;
  font-family: 'Sacred Valley';
  font-style: normal;
  color: rgba(250, 250, 250, 0.938);
  font-size: clamp(3em, 4.5vw, 6.5em);
  font-weight: 100;
  line-height: 95%;
  text-align: left;
  animation: fadeIn2 1s ease-out forwards;
  animation-delay: .8s;
}

.gradient-circ{
  margin-top: -25%;
  margin-left: 38%;
  width: 1470px;
  height: 1470px;
  overflow: hidden;
  /* background: radial-gradient(50% 50% at 50% 50%, #e4ab1699 0%, rgba(255, 231, 171, 0) 100%); */
}

@keyframes fadeIn2 {
  from { opacity: 0; 
    transform: translateY(10px); }
  to { opacity: 1; 
    transform: translateY(0px);}
}
/* CSS */
.button1 {
  position: absolute;
  margin-left: -64.5%;
  top: 69%;
  background: #e6ba6800;
  border: 1.5px solid #E6B968;
  border-radius: 4px;
  /* box-shadow: #997e4dc9 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #E6B968;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 40px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  animation: fadeIn2 1s ease-out forwards;
  animation-delay: .8s;
  transition: .08s cubic-bezier(0.1, 0.2, 0.3, 0.2);
}
.newbutton {
  margin-right: 210px;
  background: #e6ba6800;
  border: 1.5px solid #E6B968;
  border-radius: 4px;
  /* box-shadow: #997e4dc9 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #E6B968;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 40px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  animation: fadeIn2 1s ease-out forwards;
  animation-delay: .8s;
  transition: .08s cubic-bezier(0.1, 0.2, 0.3, 0.2);
}
.hero-one{
  padding-right: 30%;
  transition: .02s cubic-bezier(0.1, 0.2, 0.3, 0.2);
  padding-bottom: 340px;
  position: relative;
}
.plant2{
  width: 60%;
  position: relative;
  bottom: 70px;
}
.plant1{
  filter: brightness(.95), saturate(.95);
  width: 30%;
  position: relative;
  left: 70px;

}
.hero-two{
  position: absolute;
  right: 10%;
  margin: auto;
  display: flex;
  align-items:baseline;
  justify-content: center;
  height: 50hv;
  width: 50vw;
}
.button1:hover, .subscribe:hover{
  scale: 1.025;
}

footer{
  overflow-y: visible;
  /* background-color: #3B523D;
  background: linear-gradient(25deg, #2c3d2e , #456e49); */
  background-image: url(/images/footer.png);
  background-position: center;
  background-size:120%;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  min-height: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.newsletter {
  width: 100vw;
  margin: auto;
  padding-top: 2%;
  height: 23vh;
}
.newsletter form{
  position: relative;
  align-items: center;
}
footer img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.footer-container{
  background: url(/public/images/footer.png);
  font-family: 'Poppins', sans-serif;
  color: #ececec;
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}
footer h1{
  font-family: 'Sacred Valley';
  font-style: normal;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: .05em;
}
footer p{
  letter-spacing: -.03em;
}

input[type=text] {
  border: 0px solid rgb(255, 255, 255);
  font-family: system-ui;
  font-weight: 500;
  background-color: #2f4231;
  color: white;
  width: 8%;
  position: relative;
  padding: 10px 20px;
  margin-right: -3%;
  outline: 0;
}
input[type=email]:focus {
  border: 3px solid #E6B968;
}
input[type=email] {
  border: 0px solid rgb(255, 255, 255);
  font-family: system-ui;
  font-weight: 500;
  background-color: #2f4231;
  color: white;
  width: 15%;
  position: relative;
  padding: 10px 20px;
  margin-left: 5%;
  outline: 0;
}
input[type=text]:focus {
  border: 3px solid #E6B968;
}
.subscribe {
  height: 3em;
  position: relative;
  left:3%;
  background: #e6ba6800;
  border-radius: 100px;
  border: 2px solid #E6B968;
  box-sizing: border-box;
  color: #E6B968;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
}


/* Edited CSS */

a {
  color: inherit;
  text-decoration: none;
}

.main-container{
  /* max-width: 1400px;  */
  margin: auto;
  width: 100vw;
}

.navbar-container{
  backdrop-filter: blur(2px);
  padding-left: 5%;
  padding-right: 5%;
  background-color: #00000027;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  transition: all .15s ease-in-out;
  font-size: 1.2em;
}
.navbar-container.active{
  /* mix-blend-mode:difference; */
  background-color: #0000004b;
  padding-top: -.3%;
  padding-bottom: -.3%;
  font-size: 1em;
}
.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #E6B968;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

 span.text-red {
    -webkit-text-stroke: 1px #E6B968;
    margin-left: 6px;
}
.logo{
  transition: .2s cubic-bezier(0.1, 0.2, 0.3, 0.2);
  width: 10%;
  min-width: 250px;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
}
.logo img{
  cursor: pointer;
  width: 7%;
  margin-right: .1em;
}
.logo:hover{
  /* color:#E6B968; */
  /* filter: brightness(.45); */
  width: 20vw;
  letter-spacing: .1em;
}
.cart-icon{
  margin-right: 10%;
  overflow-x:visible;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -5px;
  top: -3px;
  font-size: 15px;
  color: #eee;
  background-color: #E6B968;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 10%;
}
.product-card{
  cursor: pointer;
  transition: transform 0.1s ease;
  box-shadow: none !important;
  margin-bottom: 25%;
  /* filter: saturate(100%); */
}
.product-card:hover{
  transition: transform .15s ease-in;
  letter-spacing: .03rem;
  transform: scale(1.025,1.025);
  filter: saturate(10%);
}
.product-card img{
  border-radius: 1px;
}
.product-image img{
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  box-shadow: none !important;
}

.product-name{
  width: 300px;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-weight: 300;
  margin-top: -1%;
  font-size: 1.4rem;
  letter-spacing: .025em;
  line-height: 1em;
  margin-bottom: 0%;
}
.product-price{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  margin-top: 1%;
  font-weight: 200;
  color: #000000;
}

.hero-banner-container{
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;

}
.hero-banner-container .beats-solo{
  font-size: 20px;
}
.hero-banner-container button{
   border-radius: 15px;
  padding: 10px 16px;
  background-color: #E6B968;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}
.quantity h3{
  font-weight: 300;
}
.num{
  font-weight: 300;
}

.hero-banner-container h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1{
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image{
  position: absolute;
  top: 0%;
  right:20%;
  width: 450px;
  height: 450px;
}


.desc{
position: absolute;
right: 10%;
bottom: 5%;
width: 300px;
line-height: 1.3;
display: flex;
flex-direction: column;
 color: #324d67;

}
.desc p{
  color: #5f5f5f;
  font-weight: 100;
text-align: end;
}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading h2{
  font-family: 'Sacred Valley';
  text-align: center;
  margin-top: 7%;
  margin-bottom: -4%;
  color: #000000;
  font-size: 45px;
  letter-spacing: .1em;
  font-weight: 1000;
}
hr {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.products-heading p{
  font-size: 16px;
  font-weight: 200;
}
.footer-banner-container{
  padding: 100px 40px;
  background-color: #E6B968;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc{
  display: flex ;
  justify-content: space-between;
}
.banner-desc button{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3{
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p{
  margin:18px;
}
.footer-banner-image{
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right{
  line-height: 1.4;
}
.banner-desc .right h3{
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p{
  font-size: 18px;
}
.banner-desc .right .company-desc{
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  backdrop-filter: blur(1px);
  transition: all 1s ease-in-out;

}
.cart-container{ 
  transition: all 1s ease-in-out;
  font-family: 'Poppins', sans-serif;
  height:100vh;
  background-color: #FFFBF1;
  float: right;
  padding: 40px 10px;
  position:sticky;
  top:0;
  right:0;
}


.footer-container .icons{
  margin-top: 0%;
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.icons svg:hover{
  cursor: pointer;
  color: #E6B968;
}
 .cart-heading{
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  color: #E6B968;
}
.empty-cart{
  font-family: 'Poppins', sans-serif;
  width: 455px;
  color: #eec578;
  text-align:center;
  margin-top: 20%;
}
.empty-cart h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
.product-container{
  user-select: none;
  margin-top: 15px;
  overflow: auto;
max-height: 70vh;
padding: 20px 10px;
}
.product{
  display: flex;
 gap: 30px;
  padding: 20px;
}
.product .cart-product-image{
  width:150px;
  height: 150px;
  border-radius: 1px;
  background-color: #ebebeb;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
   color: #324d67;
}
.go3958317564
{
  font-family: 'Poppins', sans-serif;
}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: #E6B968;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom{
  /* border: solid red 3px; */
  position: absolute;
  bottom: 100px;
  padding: 50px;

}

.btn-container{
  width: 400px;
  margin: auto;
}
.btn{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 350px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #E6B968;
  color: #fff;
  cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover{
  transform: scale(1.1,1.1);
}
.product-detail-container{
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 40px;
  margin: 40px;
  margin: auto;
  margin-top: 12%;
  color: #101010;
  width: 80%;
  font-size: 15px;
}
.image-container{
  overflow-x: visible !important;
}
.stats{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stats_holder{
  /* border: solid red 3px; */
  padding-top: 7%;
  width: 90%;
  display: flex;
}
.stats img{
  width: 60px;
}
.stats p{
  font-weight: 100;
  width: 80%;
  text-align: center;
}
.stats span{
  color: rgba(0, 0, 0, 0.73);
}
/* .dot {
  z-index: .5;
  position: absolute;
  background-color: #fffdf9;
  border-radius: 50%;
  display: inline-block;
  margin-top: -100px;
  width: 100%;
  height: 180px;
} */

.product-detail-image{
  font-family: 'Poppins', sans-serif;
  border-radius: 2px;
  background-color: #ebebeb;
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.product-detail-image:hover{
  background-color: #E6B968;
}
.small-images-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image{
  border-radius: 1px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}


.selected-image{
  background-color:#E6B968;
}
.reviews{
  color: #E6B968;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.product-detail-desc{
  margin-left: 2%;
}
.product-detail-desc h4{
  margin-top: 10px;
}
.stats span{
  margin-top: 20px;
  width: 90%;
  text-align: left;
}
.stats_holder{
  margin-top: 40px;
  border-radius: 10px;
  padding: 25px;
  background: #edd6cd;
}
.details{
  width: 100%;
  margin-top: .5%;
}
.details-h4{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.reviews p{
  color: #141414;
  margin-top: 0px;
}
.product-detail-desc .price{
  margin-top: -30px;
  font-weight: 500 ;
  font-size: 30px;
  color:#E6B968;
}
.price .old-price, .product-price .old-price, .price .old-price{
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity{
  display: flex;
  gap: 30px;
  margin-top: 10px ;
  align-items: center;
}
.product-detail-desc .buttons{
  display: flex;
  gap: 30px;
}
.product-detail-desc h1{
  font-family: 'Sacred Valley';
  text-align: left;
  color: #000000;
  font-size: 55px;
  letter-spacing: .1em;
  font-weight: 1000;
}
.buttons .add-to-cart{
  user-select: none;
  padding: 10px 20px;
  border: 1px solid #E6B968 ;
  border-radius: 100px;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0);
  color: #E6B968;
  cursor: pointer;
  width: 200px;
   transform: scale(1, 1);
  transition: transform 0.2s ease;
}
.buttons .add-to-cart:hover{
  transform:scale(1.025,1.025)
}
.buttons .buy-now{
  border-radius: 100px;
  width: 200px;
  text-align: center;
  padding: 10px 20px;
  background-color: #E6B968;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
   transform: scale(1, 1);
  transition: transform 0.2s ease;
}
.buttons .buy-now:hover{
  transform:scale(1.025,1.025)
}
.quantity-desc{
  
  border-radius: 20px;
  border: 1px solid gray;
  padding: 6px;

}
.quantity-desc span{
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus{
  border-right: 1px solid gray;
  color: #E6B968;
}
.quantity-desc .num{
  user-select: none;
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantity-desc .plus{
  color: rgb(49, 168, 49);

}

.maylike-products-wrapper{
  font-family: 'Poppins', sans-serif;
  margin-top: 200px;
  margin-bottom: 120px;
}
.maylike-products-wrapper h2{
  text-align: center;
  margin: 50px;
  color: #161616;

  font-size: 28px;
  font-weight: 300;
}
.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
.max-qty{
  font-weight: 500;
  color: #E6B968;
}
.success-wrapper, .cancel-wrapper{
  background-color: white;
  min-height: 60vh;

}
.success, .cancel{
  /* width: 1000px; */
margin: auto;
margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: green;
   font-size: 40px;
}
.success h2{
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color:#324d67;
}
.success .email-msg{
   font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p{
  font-size: 20px;
  font-weight: 600;
}
.success .description{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email{
  margin-left: 5px;
  color: #E6B968;
}
.product-max-qty{
  margin-top: 10px;
}
.container2{
  opacity: 0;
}


@media screen and (max-width:900px) {
  footer{
    background-size:300%;
  }
  .about-holder{
    flex-direction: column;
  }
  .about-text {
    width: 80%;
  }
  .hero-one{
    padding-right: 0%;
    transition: .02s cubic-bezier(0.1, 0.2, 0.3, 0.2);
    padding-bottom: 340px;
    position: relative;
  }
  .hero-two{
    position: absolute;
    top: 600px;
    margin: auto;
    display: flex;
    align-items:baseline;
    justify-content: center;
    height: 50hv;
    width: 50vw;
  }
  .plant2{
    width: 80%;
    position: relative;
    bottom: 200px;
  }
  .plant1{
    filter: brightness(.95), saturate(.95);
    width: 40%;
    position: relative;
    top: -150px;
    left: 30px;
  }
  .container1{
    padding-top: 65px;
    width: 100%;
    height: 110vh;
  }
  .bg-holder{
    height: 108vh;
  }
  
  .footer-banner-container{
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image{
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }
  .banner-desc .left h3{
    font-weight: 800;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container{
    line-height: 1.3;
  }
  .hero-banner-container h1{
    font-size: 50px;
  }
 .hero-banner-container h3{
    font-size: 40px;
  }
  .hero-banner-container button{
    margin-top: 90px;
    z-index: 10000;
  }
  .desc{
   bottom: 60px;
  }
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  .cart-heading{
    margin-top: 35px;
  }
  .product-container{
    margin-top: 10px;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart{
    width: 150px;
  }
  .buttons .buy-now{
    width: 150px;
  }
  .product-detail-container{
    padding-top: 25%;
    margin: auto;
  }

.item-desc .flex{
  width: 200px;
}
.top{
  flex-wrap: wrap;
  gap: 10px;
}
.item-desc .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
/* .cart-bottom{
  padding: 30px;
} */

.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}
@media screen and (max-width:320px) {
  .plant2{
    display: none;
  }
  .plant1{
    display: none;
  }
}